.au-btn-submit-2{
    position:relative;
    right:0;
    min-width:95px;
    color:#000;
    border:1px solid #D3D2B6;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:43px;
    background:#D3D2B6
}